<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.itrip.mapper.CountryMapper">
  <resultMap id="BaseResultMap" type="org.itrip.pojo.country">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="province_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="spell" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, province_id, spell
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="org.itrip.pojo.country">
    select 
    <include refid="Base_Column_List" />
    from country
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from country
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.itrip.pojo.country">
    insert into country (id, name, province_id, 
      spell)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{provinceId,jdbcType=INTEGER}, 
      #{spell,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.itrip.pojo.country">
    insert into country
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="spell != null">
        spell,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="spell != null">
        #{spell,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.itrip.pojo.country">
    update country
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="spell != null">
        spell = #{spell,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.itrip.pojo.country">
    update country
    set name = #{name,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      spell = #{spell,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>